[submodule "semantic-search"]
	path = semantic-search
	url = https://github.com/pinecone-io/semantic-search-example
[submodule "langchain-retrieval-agent"]
	path = langchain-retrieval-agent
	url = https://github.com/pinecone-io/langchain-retrieval-agent-example.git
